/* POSITIONING */

.centered {
  margin-left: auto;
  margin-right: auto;
}

.centered-text {
  text-aligin: center;
}

.float-left {
  flaot-left;
}

.float-right {
  float-right;
}

.clear-float::after {
  display: block;
  content: "";
  clear: both;
}

/* END POSITIONING */